<?define ProductName = "ExcelAddInBundleTemplate"?>
<?define ProductManufacturer = "brbrsoft"?>
<?define ProductVersion = "1.0.0.0"?>
<?define ProductUpgradeCode = "a8232bfc-a6ce-4fec-bb1b-512acf92c528"?>


<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="$(var.ProductName)" 
		  Manufacturer="$(var.ProductManufacturer)"
		  Version="$(var.ProductVersion)"
		  UpgradeCode="$(var.ProductUpgradeCode)" >
    <!--Name="..." Version="..." Manufacturer="..." UpgradeCode="..." Copyright="..." IconSourceFile="..." AboutUrl="...">-->

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication 
		  LicenseFile="Resources\EULA.rtf" 
		  LogoFile="Resources\Icon.ico" 
		  Theme="rtfLicense" />
		<!--LicenseUrl=" "-->
    </BootstrapperApplication>

    <Chain>
      <MsiPackage SourceFile="ExcelAddInDeploy.msi" />
    </Chain>

  </Bundle>
</Wix>
